

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Create Piggybank</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm">
            <!-- Name Field -->
            <div class="mb-3">
              <label for="name" class="form-label">Piggybank Name:</label>
              <input type="text" class="form-control" id="name" formControlName="name" required>
              <div *ngIf="(submitted || registerForm.get('name')?.touched) && registerForm.get('name')?.hasError('required')"
                   class="text-danger">
                Piggybank Name is required.
              </div>
              <div *ngIf="(submitted || registerForm.get('name')?.touched) && registerForm.get('name')?.hasError('minlength')"
                   class="text-danger">
                Piggybank Name has to be at least 3 characters.
              </div>
            </div>

            <!-- Balance Field -->
            <div class="mb-3">
              <label for="balance" class="form-label">Initial Balance:</label>
              <input type="number" class="form-control" id="balance" formControlName="balance" required>
              <div *ngIf="(submitted || registerForm.get('balance')?.touched) && registerForm.get('balance')?.hasError('required')"
                   class="text-danger">
                Initial Balance is required.
              </div>
            </div>

            <button type="button" class="btn btn-primary" (click)="create()">Create Piggybank</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
